.container {
  width: 100%;
}

.main {
  margin: 0 auto;
  max-width: 500px;
}

.bookNameSearch {
  margin-left: 10px;
  outline: none;
}

.noneTip {
  color: #808080;
}

.books {
  color: white;
  .bookItem {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
